html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter;
}

a {
  color: inherit;
  text-decoration: none;
}
p{
  color: white;
}
* {
  box-sizing: border-box;
  font-family: Inter;
}
.pt-5rem{
  padding-top: 5rem;
}
.desktop-container{
  padding: 0 20rem;
}

.mt-150{
  margin-top: 150px;
}
.mt-minus-5{
  margin-top: -5rem;
}
.width-200{
  width: 200px;
}
.main_button{
  border: none;
  border-radius: 8px;
  background: linear-gradient(92.22deg, #5236FF 0%, #C20560 100%);
  color: white;
  width: 262px;
  height: 48px;
  font-weight: 600;
  font-size: 1.2rem;
}
.desktop_section_title{
  font-size: 2.7rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
}
.desktop_sub_title{
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
}
.main-text{
  font-size: 1.1rem;
  text-align: center;
  margin: 0;
  font-weight: 500;
}
.gradiant_horizontal{
  background: linear-gradient(180deg, rgba(5, 0, 18, 0) 0%, #050012 80%);
  height: 700px;
  transform: rotate(0);
  margin-top: -225px;
  position: relative;
}
.carousel-control-next {
  right: -10%!important;
}
.carousel-control-prev {
  left: -10%!important;
}
.position_relative{
  position: relative;
}
.carousel-control-prev-icon {
  background-image: url('/images/arrow_back.svg')!important;
  width: 40px!important;
  height: 40px!important;
}
.carousel-control-next-icon {
  background-image: url('/images/arrow_forward.svg')!important;
  width: 40px!important;
  height: 40px!important;
}
.xr_engine_div{
  position: relative;
  top: -160px;
}
.z-index-9{
  z-index: 9;
}
.contact_input_div input,
.contact_input_div textarea{
  background: #D9D9FF;
  border: 1px solid #262D38;
  box-sizing: border-box;
  border-radius: 8px;
  color: #050012;
  font-size: 19px;
  padding: 10px 22px;
  width: 100%;
}
.send_btn{
  margin: 0 0 0 auto;
}
.bottom_main_text{
  font-size: 14px;
  line-height: 17px;
  color: #5236FF;
  display: inline-block;
}
.bottom_main_text_div_left{
  display: flex;
  justify-content: space-between;
}
.social_icon_div object{
  margin-left: 2rem;
}
.devide_line{
  width: 31rem;
  height: 2px;
  background: linear-gradient(92.22deg, #5236FF 0%, #C20560 100%);
}
.overlay_slide_back_div{
  margin-top: -210px;
  width: 100%;
  padding: 0 5%;
}
@media (max-width: 1920px) {
  .desktop-container{
    padding: 0 18rem;
  }
  .devide_line{
    width: 29rem;
  }
}
@media (max-width: 1720px) {
  .desktop-container{
    padding: 0 15rem;
  }
  .devide_line{
    width: 26rem;
  }
}
@media (max-width: 1660px) {
  .desktop-container{
    padding: 0 12rem;
  }
  .devide_line{
    width: 23rem;
  }
}
@media (max-width: 1440px) {
  .desktop-container{
    padding: 0 10rem;
  }
  .devide_line{
    width: 21rem;
  }
}
/* 1300px mobile view */

