.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding:0;
  width: 100%;
  height: auto;
  align-items: center;
  background-color: white;
  overflow-x: hidden;
}
.subcontainer{
  width: 100%;
}
.first_container{
  height: 1440px;
  background-image: url("/images/background-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -200px;
}
.second_container{
  width: 100%;
  height: 2024px;
  background: radial-gradient(102.37% 100% at 0% 100%, #160B2E 0%, #050012 100%);
  margin-top: -300px;
  transform: rotate(0);
  padding: 0 10rem;
}
.third_container{
  width: 113%;/* 1625.5px/1440px */
  height: 415.5px;
  margin-left: calc(-6.5%);/* -93px/1440px */
  margin-top: -239px;
  background-image: url("/images/Vector-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 120px;
}
.fourth_container{
  width: 100%;
  background-image: url("/images/Vector-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 979px;
  margin-top: -292px;
}
.footer {
  width: 100%;
  height: 210px;
  background: #050012;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.logo_title_gradiant{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: transparent;
  background-image: linear-gradient(92.22deg, #5236FF 0%, #C20560 100%);
  -webkit-background-clip: text;
  background-clip: text;
}
.white_font{
  color: white;
}
.black_font{
  color: black;
}
.menu_icon{
  color: white;
  height: 2.5rem;
  width: 3rem;
}
.devide_line{
  width: 21rem;
  height: 2px;
  background: linear-gradient(92.22deg, #5236FF 0%, #C20560 100%);
}
.menu_btn{
  background: transparent;
  border: 1px solid transparent;
}
.menu_btn:hover{
  border: 1px solid gray;
  border-radius: 2px;
  cursor: pointer;
}
.big_text_div{
  margin-top: 150px;
  padding-left: 10rem;
}
.big_text{
  font-size: 6rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 116px;
  color: #FFFFFF;
}
.big_text .black_font{
  text-shadow: 0 2px 2px #fff, 0 -2px 2px #fff, 2px 0 2px #fff, -2px 0 2px #fff;
}
.small_text{
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 0;
}
.line_30_degree_group{
  margin-top: 8rem;
  transform: rotate(-30deg);
}
.line_30_degree_group div{
  background: linear-gradient(92.22deg, #5236FF 0%, #C20560 100%);
  height: 2px;
  margin-bottom: 3rem;
}
.line_top_1{
  width: 120%;
  margin-left: -10%;
}
.line_top_2{
  width: 100%;
  margin-left: 0;
}
.line_top_3{
  width: 80%;
  margin-left: 10%;
}

@media (max-width: 600px) {

}
