.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding:0;
  width: 100%;
  height: auto;
  align-items: center;
  background-color: white;
  overflow-x: hidden;
}
.subcontainer{
  width: 100%;
}
.first_container{
  height: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -200px;
}
.menu_container{
  height: 100vh;
  width: 100%;
  background: #050012;
}
.second_container{
  width: 100%;
  height: 2100px;
  background: radial-gradient(102.37% 100% at 0% 100%, #160B2E 0%, #050012 100%);
  margin-top: -300px;
  padding: 70px 0;
}
.third_container{
  height: 415.5px;
  margin-top: -158px;
  background-repeat: no-repeat;
  background-size: cover;
}
.fourth_container{
  background-repeat: no-repeat;
  background-size: cover;
  height: 979px;
  margin-top: -300px;
  padding-top: 350px;
}
.footer {
  width: 100%;
  height: 210px;
  background: #050012;
  padding-top: 80px;
}
.logo_title_gradiant{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: transparent;
  background-image: linear-gradient(92.22deg, #5236FF 0%, #C20560 100%);
  -webkit-background-clip: text;
  background-clip: text;
}
.white_font{
  color: white;
}
.black_font{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
.menu_icon{
  color: white;
  width: 2.5rem;
}
.menu_btn{
  background: transparent;
  border: 1px solid transparent;
}
.menu_btn:hover{
  border: 1px solid gray;
  border-radius: 2px;
  cursor: pointer;
}
.big_text_div{
  margin-top: 150px;
  padding-left: 10rem;
}
.big_text{
  font-size: 6rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 116px;
  color: #FFFFFF;
}
/* .big_text .black_font{
  text-shadow: 0 2px 2px #fff, 0 -2px 2px #fff, 2px 0 2px #fff, -2px 0 2px #fff;
} */
.small_text{
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0;
}
.line_30_degree_group{
  margin-top: 8rem;
  transform: rotate(-30deg);
}
.line_30_degree_group div{
  background: linear-gradient(92.22deg, #5236FF 0%, #C20560 100%);
  height: 2px;
  margin-bottom: 3rem;
}
.mission_txt_div{
  padding-top: 270px;
}
.line_top_1{
  width: 120%;
  margin-left: -10%;
}
.line_top_2{
  width: 100%;
  margin-left: 0;
}
.line_top_3{
  width: 80%;
  margin-left: 10%;
}
.middle_component_circle_1{
  background: radial-gradient(100% 100% at 50% 0%, #5236FF 0%, rgba(82, 54, 255, 0) 100%);
  opacity: 0.1;
  border-radius: 80px;
  transform: rotate(-180deg);
  width: 100px;
  height: 100px;
  margin-top: 150px;
}
.middle_component_circle_2{
  background: radial-gradient(100% 100% at 50% 0%, #5236FF 0%, rgba(82, 54, 255, 0) 100%);
  opacity: 0.1;
  border-radius: 50%;
  transform: rotate(-180deg);
  width: 44px;
  height: 44px;
  position: absolute;
  right: 0;
  top: 285px;
}
.middle_component_circle_3{
  background: radial-gradient(100% 100% at 50% 0%, #5236FF 0%, rgba(82, 54, 255, 0) 100%);
  opacity: 0.1;
  border-radius: 80px;
  transform: rotate(-180deg);
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0;
  top: 85px;
}
.middle_component_line_div_1{
  width: 51px;
  margin: 130px auto 0;
}
.middle_component_line_1{
  width: 51px;
}
.middle_component_line_gap_1{
  width: 16px;
  height: 27px;
  background: rgba(82, 54, 255, 0.1);
  backdrop-filter: blur(64px);
  margin: 0 auto -30px;
}
.middle_component_line_gap_2{
  width: 17px;
  height: 27px;
  background: rgba(82, 54, 255, 0.1);
  backdrop-filter: blur(64px);
  margin: 0 auto -30px;
}
.middle_component_line_div_2{
  width: 52px;
  margin: 80px auto 0;
}
.middle_component_line_div_3{
  width: 51px;
  margin: 190px auto 0;
}
.main_carousel{
  margin: 300px auto 0;
  width: 1000px;
  z-index: 1;
}
.moon_svg{
  position: absolute;
  right: 0px;
  top: 60px;
}
.firstname_input{
  width: 49%!important;
  margin-right: 2%;
}
.lastname_input{
  width: 49%!important;
}
.logo_lagunalabs{
  width: 200px;
}

/* pad view */
@media (max-width: 1300px) {
  .first_container{
    background-position: -100px -200px;
  }
  .menu_icon{
    width: 2rem;
  }
}
@media (max-width: 1024px) {
  .first_container{
    background-position: -300px -200px;
  }
  .line_30_degree_group{
    margin-top: 4rem;
  }
  .line_top_2{
    margin-left: -10%;
  }
  .line_top_3{
    margin-left: -10%;
  }
  .main_carousel{
    width: 90%;
  }
  .footer{
    height: 400px;
    padding-top: 150px;
  }
  .moon_svg{
    right: 60px;
  }
}
/* mobile view */
@media (max-width: 762px) {
  .first_container{
    height: 1240px;
  }
  .big_text{
    font-size: 5rem;
    line-height: 6rem;
  }
  .menu_icon{
    width: 1.5rem;
  }
  .logo_title_gradiant{
    font-size: 1.3rem;
    line-height: 0;
  }
  .second_container{
    padding: 200px 0;
  }
  .firstname_input{
    width: 100%!important;
    margin: 0;
  }
  .lastname_input{
    width: 100%!important;
    margin: 1.5rem 0 0;
  }
}
@media (max-width: 600px) {
  .first_container{
    background-position: -400px -200px;
  }
  .line_30_degree_group{
    margin-top: 0rem;
  }
  .line_top_2{
    margin-left: -30%;
  }
  .line_top_3{
    margin-left: -30%;
  }
}
@media (max-width: 500px) {
  .first_container{
    background-position: -550px -200px;
  }
  .big_text{
    font-size: 4.5rem;
    line-height: 5rem;
  }
  .small_text{
    font-size: 1.3rem;
  }
  .second_container{
    padding: 230px 0;
  }
}
@media (max-width: 420px) {
  .first_container{
    background-position: -600px -200px;
  }
  
}
